# Dependencies
node_modules/
frontend/node_modules/

# Production build
dist/
frontend/dist/

# Python Virtualenv & temporary files
venv/
__pycache__/
*.pyc
extract_all_to_md.py

# Office lock files
.~lock.*
*.tmp

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
